################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectFour/.vs/ProjectFour/FileContentIndex/0809853d-cc61-40b1-850e-034c509dbfa0.vsidx
