################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectFour/.vs/ProjectFour/FileContentIndex/0809853d-cc61-40b1-850e-034c509dbfa0.vsidx
/ProjectFour/.vs/ProjectFour/FileContentIndex/6ad059aa-7c2e-4057-b6db-c8f7164d7bdd.vsidx
/ProjectFour/.vs/ProjectFour/FileContentIndex/8f2a0e78-4ce5-4d39-a4ac-563db9f9cbcd.vsidx
/ProjectFour/.vs/ProjectFour/FileContentIndex/cc563a1b-ff6c-4484-b984-44d2d8a5846f.vsidx
